body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(118, 44, 44);
}
#c {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#c3 {
    margin-top: 50px;
    text-align: center;
}
#t {
    border: 5px solid;
    width: 500px;
    height: 500px;
    color: rgb(118, 44, 44);
    font-size: large;
    background-color: black;
    text-shadow: 
        0 0 5px rgba(118, 44, 44, 0.5),
        0 0 10px rgba(118, 44, 44, 0.5), 
        0 0 15px rgba(118, 44, 44, 0.5), 
        0 0 20px rgba(118, 44, 44, 0.5), 
        0 0 25px rgba(118, 44, 44, 0.5), 
        0 0 30px rgba(118, 44, 44, 0.5), 
        0 0 35px rgba(118, 44, 44, 0.5);
}
#t:focus {
    outline: none;
}
.b {
    padding: 20px 40px;
    margin-top: 20px;
    border: 4px solid;
    color: rgb(118, 44, 44);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all .1s;
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
}
.b:hover {
    color: black;
    background-color: rgb(118, 44, 44);
}
.b:active {
    color: white;
}
.p {
    text-decoration: none;
    color: rgb(118, 44, 44);
}
#io {
    margin-top: 15px;
    width: 40px;
    height: 40px;
}